/*header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  header a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }
  
  header a:hover {
    color: #007bff;
  }
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;  Ensure background color is set 
  }
  */

  .login-button {
    color: #007bff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
  }
  
  .login-button:hover {
    text-decoration: underline;
  }
  
  